Options +FollowSymLinks -MultiViews -Indexes

RewriteEngine on
RewriteBase /

# RewriteCond %{DOCUMENT_ROOT}/frontend/$1 -f
# RewriteRule ^(.*)$ frontend/$1 [L]

RewriteCond %{DOCUMENT_ROOT}/common/$1 -f
RewriteRule ^(.*)$ common/$1 [L]

RewriteCond %{DOCUMENT_ROOT}/backend/$1 -f
RewriteRule ^(.*)$ backend/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [NC,L,QSA]
